.login_form {
  margin-top: 3rem;
}

.check_field {
  margin: 1rem;
}

.field {
  margin: 1rem;
  label {
    display: inline-block;
    min-width: 10rem;
  }
}

.actions {
  margin-top: 1rem;
  margin-left: 16.5rem; }
